NET "A<2>"    LOC = "P19"  ; 
NET "A<3>"    LOC = "P22"  ; 
NET "A<4>"    LOC = "P24"  ; 
NET "A<5>"    LOC = "P25"  ; 
NET "A<6>"    LOC = "P23"  ; 
NET "A<7>"    LOC = "P20"  ; 
NET "A<10>"  LOC = "P12"  ; 
NET "A<11>"  LOC = "P11"  ; 
NET "A<12>"  LOC = "P10"  ; 
NET "A<13>"  LOC = "P9"  ; 
NET "A<14>"  LOC = "P8"  ; 
NET "A<15>"  LOC = "P7"  ; 
NET "A<16>"  LOC = "P99"  ; 
NET "A<17>"  LOC = "P97"  ; 
NET "A<18>"  LOC = "P96"  ; 
NET "A<19>"  LOC = "P95"  ; 
NET "A<20>"  LOC = "P94"  ; 
NET "A<21>"  LOC = "P93"  ; 
NET "A<22>"  LOC = "P92"  ; 
NET "A<23>"  LOC = "P91"  ; 
NET "A<24>"  LOC = "P76"  ; 
NET "A<25>"  LOC = "P77"  ; 
NET "A<26>"  LOC = "P78"  ; 
NET "A<27>"  LOC = "P79"  ; 
NET "AD<28>"  LOC = "P80"  ; 
NET "AD<29>"  LOC = "P81"  ; 
NET "AD<30>"  LOC = "P82"  ; 
NET "AD<31>"  LOC = "P85"  ; 
NET "A<8>"   LOC = "P14"  ; 
NET "A<9>"   LOC = "P13"  ; 
NET "BA<0>"   LOC = "P58"  ; 
NET "BA<1>"   LOC = "P55"  ; 
NET "BERR_n"   LOC = "P6"  ; 
NET "BUFDIR"  LOC = "P1"  ; 
NET "BUFOE_n"  LOC = "P15"  ; 
NET "CAS_n"    LOC = "P65"  ; 
NET "CFGIN_n"  LOC = "P28"  ; 
NET "CFGOUT_n" LOC = "P30"  ; 
NET "CKE"     LOC = "P61"  ; 
NET "CLK"     LOC = "P27"  ; 
NET "CLK"     BUFG = "CLK" ; 
NET "CS_n<0>"   LOC = "P35"  ; 
NET "CS_n<1>"   LOC = "P60"  ; 
NET "DOE"     LOC = "P74"  ; 
NET "DQM_n<0>"  LOC = "P68"  ; 
NET "DQM_n<1>"  LOC = "P66"  ; 
NET "DQM_n<2>"  LOC = "P36"  ; 
NET "DQM_n<3>"  LOC = "P37"  ; 
NET "DS_n<0>"    LOC = "P2"  ; 
NET "DS_n<1>"    LOC = "P70"  ; 
NET "DS_n<2>"    LOC = "P87"  ; 
NET "DS_n<3>"    LOC = "P86"  ; 
NET "DTACK_n"  LOC = "P90"  ; 
NET "E"       LOC = "P3"  ; 
NET "FC<0>"   LOC = "P18"  ; 
NET "FC<1>"   LOC = "P17"  ; 
NET "FC<2>"   LOC = "P16"  ; 
NET "FCS_n"    LOC = "P71"  ; 
NET "MA<0>"   LOC = "P50"  ; 
NET "MA<1>"   LOC = "P46"  ; 
NET "MA<10>"  LOC = "P53"  ; 
NET "MA<11>"  LOC = "P56"  ; 
NET "MA<12>"  LOC = "P59"  ; 
NET "MA<2>"   LOC = "P42"  ; 
NET "MA<3>"   LOC = "P40"  ; 
NET "MA<4>"   LOC = "P39"  ; 
NET "MA<5>"   LOC = "P41"  ; 
NET "MA<6>"   LOC = "P43"  ; 
NET "MA<7>"   LOC = "P49"  ; 
NET "MA<8>"   LOC = "P52"  ; 
NET "MA<9>"   LOC = "P54"  ; 
NET "MEMCLK"  LOC = "P64"  ; 
NET "MTACK_n"  LOC = "P4"  ; 
NET "MTCR_n"   LOC = "P29"  ; 
NET "RAS_n"    LOC = "P63"  ; 
NET "READ"    LOC = "P89"  ; 
NET "RST_n"    LOC = "P72"  ; 
NET "SENSEZ3" LOC = "P73"  ; 
NET "SLAVE_n"  LOC = "P32"  ; 
NET "TP1"     LOC = "P34"  ; 
NET "TP2"     LOC = "P33"  ; 
NET "WE_n"     LOC = "P67"  ;

NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 66 MHz HIGH 50%;
